/* ini css */

body {
    background-color: teal;
    color: white;
}


h1 {
    text-align: center;
    
}

p {
    text-align: center;
}

.celsius-container {
    text-align: center;
}

.fahrenheit-container {
    text-align: center;
}

.calculate-container {
    text-align: center;
}

textarea {
    resize: none;
    width: 190px;
    height: 35px;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-family: math;
    font-size: 18px;
}

.button{
    height: 32px;
    border-radius: 4px;
}

.green-color {
    background-color: green;
    color: white;
}

.orange-color {
    background-color: orange;
    color: white;
}

.blue-color {
    background-color: blue;
    color: white;
}

.subject-info {
    font-size: 24px;
    font-style: italic;
    font-family: math;
}

.formula-container {
    text-align: center; 
}